/*//////////////////////////////////////////GLOBALS*/
:root {
  --darkgrey: rgb(54	56	69	);
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
   text-indent: 0;
}

.btn-primary {
  margin: 5px;
  background-color: var(--darkgrey) !important;
  border-radius: 2%;
  border: none !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.btn:visited, .btn:focus {
  outline: 4px solid rgba(64, 64, 64, 0.7) !important;
}

.btn:active, .btn:hover {
   transform: scale(1.1);
}

.btn {
    transition: all 0.15s ease-in-out;
}

a :active, :after, :link, :visited {
  text-decoration: none;
  color: var(--darkgrey);
}
a :hover {
  color: var(--darkgrey);
}

.delete-draft button {
  background-color: red !important;
}
/*//////////////////////////////////////////HEADER and APP*/


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 10px 10px 0 10px;
}

.login-logout-button {
  margin: 0 30px;
}

.nav-links {
  display: flex;
}
nav {
  margin-bottom: 20px;

}

.nav-links a:hover {
  color: var(--darkgrey);
}

.wrapper {
  width: 100%;
}
/*//////////////////////////////////////////LOGIN AND REGISTER*/

.verification-redirect {
  background-color: white;
  border: none;
  margin: 30px;
  color: var(--darkgrey);
  font-style: italic;

}

.account {
  width: 90%;
}

.account-wrapper{
  display: flex;
  justify-content: center;
}

.account label{
  margin: 4px 0;
}

.account form button {
  margin: 10px 0;
}

/*//////////////////////////////////////////ARTICLE LIST*/

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 375px;
  cursor: pointer;
  transition: 100ms;
  margin: 10px 10px;
}

.card:hover {
    background: rgb(54	56	69	);
    color: white;
  }

.main {
  display: flex;
  align-self: center;
  max-width: 90%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.thumbnail-img {
  max-height: 250px;
  overflow: hidden;

}

article {
  margin: 10px 0px;
}

.title-block {
  background-color: var(--darkgrey);
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-block h2 {
  font-size: 5em;
}
/*//////////////////////////////////////////ARTICLE DETAIL*/

.article-detail {
  border: none;
  width: 90%;
  padding: 0;
}

.article-detail-view article {
  margin: 0 !important;
}

.article-detail-view {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-detail img{
  width: 100%;
  margin: 10px 0;
  position: relative;
  margin-top: 100px;
}

.article-detail span {
  background-color: var(--darkgrey);
  color: white;
  width: 100%;
  position: absolute;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////DRAFT VIEW*/

.draft-wrapper {
  width: 90%;
  margin: auto;
}

.draft-form {
  margin: 40px 0px;
}

.draft-buttons {
  margin: 20px 0px;
}

.draft-list button {
  background-color: var(--darkgrey);
  border:none;
  color: white;
  padding: 10px;
  border-radius: 2%;
  margin: 10px 0;

}

/*//////////////////////////////////////////ADMIN LIST*/

.navy-block {
  background-color: var(--darkgrey);
  height: 60px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 60px;
}

.admin-article-view article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 35px;
  border: 2px solid rgba(64, 64, 64, 0.7);
  border-radius: 0.4%;
}

.admin-image {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.admin-image img {
  width: 100%;
}

.admin-outer-wrapper {
  display: flex;
  justify-content: center;
}

.admin-inner-wrapper {
  display: flex;
  flex-direction: column;
}

.date {
  font-style: italic;
}

.title, .author {
  text-transform: capitalize;
}

.form-check {
  align-self: flex-end;
  margin: 10px 0px 20px 0px;
}

.admin-inner-wrapper form  {
  align-self: flex-end;
}

.form-check-input[type=radio] {
  border-radius: 3% !important;
  height: 20px !important;
  width: 20px !important;
}

.form-check-input:checked[type=radio] {
  background-image: url(./../../check_black_24dp.svg) !important;
  color: white !important;
  font-size: 16px;

}

.form-check-input:checked {
    background-color: white !important;
    border: 3px solid rgba(64, 64, 64, 0.7) !important;

}

.form-check .form-check-inline{
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: middle;
}

.filters {
  display: flex;
  flex-direction: column;
  margin: 0 35px;
}

.admin-article-view h3 {
  margin-top: 15px;
}

.filters .btn {
  background-color: var(--darkgrey);
  margin: 5px;
  color: white;
}

.filters .btn:hover {
  color: white;
}

/* /////////////////////////////////////////////////////////////////DESKTOP */

@media (min-width: 768px) {
 
  .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.admin-outer-wrapper {
  display: flex;
  justify-content: center;
}

.admin-inner-wrapper {
  width: 80%;
  flex-direction: row;

}

.admin-image {
  width: 700px;
  height: auto;
  margin: 20px 0;
}

.article-detail img{
  width: auto;
}

.article-detail {
  width: 60%;
}
.article-detail-view {
  display: flex;
  justify-content: center;
  }

  .filters {
  padding-top: 60px;
  margin-right: 10px;
  margin-left: 0;
}

.account {
  width: 30%;
}

.draft-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.draft-list {
  margin: 0px 50px;
  width: 25%;
}

.draft-form {
    margin: 0px 200px 0px 100px;
    width: 80%;
}

.draft-list button {
  margin: 10px 0;

}

.title-block {
  height: 500px;
}

.title-block h2 {
  font-size: 10em;
}

}
